<%= provide(:title, "Create a business") %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h1>New business</h2>
				<%= render 'form' %>
				<%= link_to 'Return to main page', current_user %>
		</div>
	</div>
</div>
