<div id="attachment-fields">  
  <div class='nested-fields attachments'>
    <%= f.input :file, as: :file %> 
    <%= f.input :file_cache, as: :hidden %>
    <%= link_to_remove_association "remove attachment", f %>
  </div>
</div>