<div id="contact-fields">  
  <div class='nested-fields'>
    <%= f.input :first_name, label: "Contact First Name" %>
    <%= f.input :last_name, label: "Contact Last Name" %>
    <%= f.input :email, label: "Contact Email" %>
    <%= link_to_remove_association "remove contact", f %>
  </div>
</div>