<%= provide(:title, "Edit Knowledge") %>
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Edit Knowledge</h1>
				<%= render 'form' %>
				<%= link_to 'Back', business_articles_path(@business) %>
		</div>
	</div>
</div>