<div class="container">
  <h1 class="display-1 hidden-xs-down">
    <strong>Who Does What</strong> Landing
  </h1>
  <p>If you want to come in you have to sign in or sign up.</p>
  <p><%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %></p>
  <p><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %></p>
</div>            