<%= provide(:title, "Create Contact") %>
	<div class="row">
		<div class="col-md-5">
			<h1>New Contact</h1>
				<%= render 'form' %>
				<%= link_to 'Back', business_contacts_path(@business) %>
		</div>
	</div>

