
        </div>
        <!--/main col-->
    </div>

</div>
<!--/.container-->
<footer class="container">
    <p class="text-right small">&copy; <%= copyright_notice_year_range(2009) %> <%= link_to "Hamco Internet Solutions", "http://hamcois.com" %>s</p>
</footer>
